/*
Application created by George Wilson (CIS Student graduated 2018), 
 * edited by Dr Shirley Atkinson.
 * Application licensed to University of Plymouth
*/

.navbar-brand
{
	position: relative;
	background: url(../img/secam_logo.jpg);
	width: 96px;
	left: 10px;
	max-height: 96px; /* height of the navbar */
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav.navbar-center.li{
    padding: auto;
}
.navbar-nav.navbar-center.a {
    text-decoration: none;
    color: #000;
    a:hover, a:focus{
				color: blue;
				text-decoration: none;
				outline: none;
			}
} 
.navbar-nav.navbar-center.active{
    font-size: 17px;
    color: red;
    border-bottom: 2px solid blue;
}

